@model IEnumerable<RetroLogger3000.ViewModels.GamesTotal>

@{
	ViewBag.Title = "Total Retrogame Count";
}

<h2>Total Retrogame Count</h2>

<table>
	<tr>
		<th>
			Title
		</th>
		<th>
			Count
		</th>
	</tr>

	@foreach (var item in Model)
	{
		<tr>
			<td>
				@Html.DisplayFor(modelItem => item.Title)
			</td>
			<td>
				@item.GameCount
			</td>
		</tr>
	}
</table>