@{
	ViewBag.Title = "Home Page";
}

<div class="jumbotron">
	<h1>RetroLogger 3000</h1>
</div>
<div class="row">
	<div class="col-md-4">
		<h2>Welcome to RetroLogger 3000</h2>
		<p>
			RetroLogger 3000 is an application that
			enables users to catalog their retro games
		</p>
	</div>
	<div class="col-md-4">
		<h2>Catalog your entire collection!</h2>
		<p>Track the condition of each title or whether it has been beaten!</p>
	</div>
	<div class="col-md-4">
		<h2>Order new games to add to your collection!</h2>
		<p>Check the prices that are updated daily!</p>
	</div>
</div>